body,
html {
  height: 100%;
  margin: 10px;
  font-family: var(--font-family);
  background-color: var(--surface-b);
}

.text-layout {
  color: var(--text-color);
}

#sidebar {
  height: 100%;
  min-height: 100vh;
  min-width: 180px;
}
.small-flag {
  width: 50px;
}

.mr-1 {
  margin-right: 5px;
}
